.home__container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.home__container_main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.home__container_sidenav {
  border-right: 1px solid var(--separator-border-color);
}
.home__container_recommendation {
  width: 30%;
}
.home__container_feed {
  flex: 1;
  position: relative;
}
.home__container_nav {
  display: none;
}

@media screen and (max-width: 1080px) {
  .home__container {
    padding-top: 100px;
  }
  .home__container_sidenav {
    display: none;
  }
  .home__container_nav {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .home__container_recommendation {
    display: none;
  }
}
