.profile__container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: auto;
}
.profile__container_headernav {
  display: none;
}
.profile__container_main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.profile__container_sidenav {
  border-right: 1px solid var(--separator-border-color);
}
.profile__content {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.profile__content_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--separator-border-color);
}
.profile__header_desc {
  width: 60%;
}
.profile__header_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__header_img img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid #9d9d9d;
}
.profile__header_username {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.profile__header_stats {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.profile__header_stats span {
  font-size: 1rem;
  font-weight: bold;
}
.profile__user_details {
  margin: 10px 0;
}
.profile__user_name {
  color: #9d9d9d;
}
.profile__content_body_card {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0;
  /* width: 400px; */
}
.profile__content_body_card img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.profile__content_body {
  display: flex;
  flex-direction: column;
}
.profile__content_body_wrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
}
.profile__content_body_header {
  display: flex;
  justify-content: center;
}
.profile__content_body_header_icon {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}

.profile__content_body_header_icon:hover {
  background-color: #1b1b1b;
  border-radius: 50%;
}

@media screen and (max-width: 1080px) {
  .profile__container_headernav {
    display: block;
  }
  .profile__container_sidenav {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .profile__header_img img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid #9d9d9d;
  }
  .profile__container {
    font-size: 0.8rem;
  }
  .profile__content_header {
    flex-direction: column;
    align-items: center;
  }
  .profile__header_img {
    width: 100%;
  }
  .profile__header_desc {
    width: 100%;
  }
  .profile__header_username {
    text-align: center;
  }
  .profile__header_stats {
    width: 100%;
  }
  .profile__content_body_wrapper {
    grid-template-columns: repeat(2, minmax(100px, 293px));
    grid-gap: 10px;
  }
}
